{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block banner %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> UWEFLIX | Reserve Seats</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}


{% block content %}
	
	<div class="movie-item-style-2">
			
		<h2>{{ show_info }}</h2>
		<div class="seatDiv">
			<div class="seatArray">
			</div>
			<div class="seatForm">
				<form method="post" action="{% url 'payment_gateway' %}">
					{% csrf_token %}
					{{ form|crispy }} <!--This one --> 

			{% csrf_token %}
			{{ form2|crispy }}
					<input type="hidden" name="show_id" id="show_id" value="{{ show_info.id }}" readonly />
					<button type="submit">Confirm</button>
				</form>
			</div>
		</div>
		
	</div>

	

{% endblock %}
